# Ignore folders.
.storage
.cloud
.google.token
deps
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
mosquitto.user
known_devices.yaml
.HA_VERSION
.uuid
home-assistant_v2.db
home-assistant.log
mqtt_dump.log
.vscode
automations.yaml